#footer{
    padding: 100px 0 20px;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
}
.links{
    text-align: center;
}
.links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
}
.links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}