main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}
.content-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card div:last-child span{
    font-size: 3rem;
}
.card div:first-child span{
    color: var(--color_grey);
}
.card:last-child{
    background: var(--color_p);
}
.card:last-child h1,
.card:last-child div:first-child span,
.card:last-child div:last-child span{
    color: #fff;
}