main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
}
.content-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2rem;
    margin-top: 1rem;
}
.service{
    display: flex;
    background: #fff;
    width: 300px;
    height: 400px;
    padding: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.service button{
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    padding: 14px 40px;
    cursor: pointer;
    transition: 0.25s;
}
.service button:hover{
    cursor: pointer;
    background: #00964b;
    color: #fff;
}
@media screen and (max-width: 1000px){
    .content-service{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 920px){
    .content-service{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 560px){

    .content-service{
        grid-template-columns: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .menu{
        margin-top: 2rem;
    }
}